
/*----------- BODY --------------*//* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Roboto', 'Open sans';
    background-color:	rgb(0, 71, 171, 0.8);
}

header {
    background-color: lightskyblue;
    padding: 1rem 2%;
    display: grid;
    grid-template-columns:1fr;
}
header h1, header h2 {
    margin: 0;
    color: 	rgb(0, 71, 171);
    font-family: 'Roboto';
    padding-left: 25px;
}
#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}
#hamburgerBtn.open span:nth-child(1){
    display: none;
}

#hamburgerBtn.open span:nth-child(2){
    display: block;
}
nav {
    background-color: white;
}
nav ul {
    list-style: none;
}
nav ul li a {
    display: block;
    color: blue;
    padding: 1.5rem 2%;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    font-size: medium;
}
nav ul li.active a {
    background-color: #0047AB;
    color: white;
    border-radius: 3px;
}
nav ul li a:hover {
    background-color: darkblue;
    color: white;
    border-radius: 3px;
}
.sub-menu {
    display: none;
}
nav ul li a:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: darkblue;
    margin-top: 15px;
    margin-left: -15px;
}
 p {
    padding:  0 20px 0 20px;
}
 #banner-image{
    margin: 10px auto;
	position: relative;
 } 
 .stats {
	position: absolute;
	top: 150px;
	right: 50px;
	background: radial-gradient(#eee, #082867);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.8;
}

#social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
#welcome{color:white}
.img {
    width: 100%;
    border-radius: 200px;
}
.banner img, .templeImg { 
padding: 0;
border: 0;
}
 main picture img {
    width: 100%;
    border-radius: 0; 
} 
main div h2 {
    color: white;
    text-align: center;
    padding: 1.5rem;
    background:rgb(0, 71, 171)}
#durban, #jorburg, #ghana, #australia, #georgia,#boise {
    border: 3px solid white;
    border-radius: 20px;
    background-color: lightskyblue;
    padding: .2rem;
   }
#wrapper, #twrapper,#swrapper,#rwrapper, main div.imgWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.cards {
    border: 5px solid rgb(0, 71, 171);
    background-color: white;
    padding: 25px;
}
main div.imgWrapper {
    width: 100%;
}
.templeImg {
   width: 100%;
padding: 10px;

}
.icons {
    background-color: white;
    border: 5px solid rgb(0, 71, 171);
    border-radius: 10px;
    padding: 18px;
}
main div h2 {
    padding-left: 2%;
}
aside {
    background-color:lightskyblue ;
}

#weather,#side-center,#side-service,#contact-details {
    background-color: white;
    margin:.2.5rem;
    padding: 2rem 0 2rem;
}
#weather h2 {
    margin: 0.4rem;
    padding: 1rem;   
}
#weather_icon {border: 0;}
#rwrapper div {
    background-color: white;
}
img {
 border: 5px solid white;
 border-radius: 25px;
}
.weather-img {
    background-color: lightskyblue;
    border-radius: 20px;
    text-align: center;
}
 figcaption  { padding: .5rem;}

#side-service button, .submit {
    padding: .8rem;
    border-radius: 1.5rem;
    background-color: rgb(0, 71, 171,05);
    width: 100%;  
    color: white;
}
.facebook, .linkedin {border: 0;}
form{background-color: skyblue;text-align: center;}
form fieldset{
    border: 3px solid white;
    border-radius: 10px;
    padding: 1rem 2%;
    margin: 20px;
}
form legend {
    color: rgb(0, 71, 171,05);
    margin: 0 1rem;
    padding: 0.1rem;
}
form label.reserve-form, form div {
    display: block;
    padding-top: 1rem;
    color: rgb(0, 71, 171,05);
    font-size: 1rem;
}
form label.reserve-form input, form label.reserve-form select, #select{
    -webkit-appearance:none;
    display: block;
    font-size: 1rem;
    border: solid 1px rgb(0, 71, 171);
    border-radius: 4px;
    padding: .75rem;
    width:100%;
    color: rgb(0, 71, 171,05);
    max-width: 20rem;
    background-color: white;
}
form input.submit {
    border:none;
    background-color: rgb(0, 71, 171);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width:96%;

}
form label.reserve-form input:required {
    border-left: blue solid 6px;
}
form label.reserve-form input:valid {
    border-left:green solid 6px;
}
form textarea {
    border: 0;
    padding: 2rem .7rem;
    box-sizing: border-box;
    border: 2px solid rgb(0, 71, 171);
    width: 100%; 
}
#twrapper div picture img, #swrapper div picture img, #wrapper div {
    width: 100%;
}


footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightskyblue;
    padding: 1rem 2%;
}


