@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2.5rem;
        grid-column: 2/5;
        grid-row: 1/4;
        padding-top: 1cm;
        border: 0px; 
    }

    h2 {
        font-size: 3.5rem; 
    }

    header, footer {
       border-radius:10px ;
       box-shadow:  7px 7px 12px 7px #888;
    
    }

    img {   
        float: right;
        box-shadow:  1px 4px 1px 1px #11081b;
        border-radius: 3px 3px 3px 3px ;
        margin: 10px ;
        padding: 0.2cm;
   }
   header,main,footer {
    display: grid;
    margin: 1.25rem auto;
    max-width: 760px;
    border-radius: 3px 3px 3px 3px ;   
    }

    header{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
    }

    form {
        grid-column: 1/4;
        grid-row: 3/5;
    }

    h1#joinh1 {
        grid-column: 1/2;
        grid-row: 2/3;
        display: block;
      
    }
    h2#joinh2 {
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}